<div class="columns large-4 landing-page-thumbnail-feature">
  <%= link_to(image_tag(image_url, class: "landing-page-thumbnail-feature-image"), "#", data: { reveal_id: modal_id }) %>
  <h4 class="landing-page-thumbnail-feature-header"><%= header %></h4>
  <p class="landing-page-thumbnail-feature-description"><%= text %></p>
</div>