<div class="landing-page">
  <div class="row landing-page-header">
    <div class="columns landing-page-header-logo large-4">
      Wikenso
    </div>

    <div class="columns large-8 landing-page-header-actions">
      <%= link_to "About", "#", class: "landing-page-header-action about" %>
      <%= link_to "Pricing", "#", class: "landing-page-header-action pricing" %>
      <%= link_to "Sign Up", "#", class: "landing-page-header-action create-wiki" %>
    </div>
  </div>


  <div class="row">
    <div class="columns large-centered landing-page-screenshot">
      <%= image_tag asset_path("assets/landing_page/screenshot.png") %>
    </div>
  </div>

  <div class="row landing-page-tagline-row">
    <div class="columns landing-page-tagline large-8 large-centered">
      Hosted, Private Wikis for Teams
    </div>
  </div>
</div>