<h1><%= @wiki.subdomain %></h1>

<p>You have been invited to join <%= @wiki.subdomain %></p>

<p>Click this link to create your account.</p>

<a href="<%= @user.invitation_link %>"><%= @user.invitation_link %></a>