<div class="row wiki-no-pages">
  <div class="columns large-8 large-centered">
    You don't have any pages.
    <%= link_to "Create", new_page_path, class: "wiki-no-pages-create-link" %> one?
  </div>
</div>
