<div class="not-logged-in-footer row">
  <div class="columns large-6 not-logged-in-footer-actions">
    <%= link_to "Contact", "http://nilenso.com/#contact", class: "not-logged-in-footer-action contact", target: "_blank" %>
  </div>
  <div class="columns large-5 not-logged-in-footer-logo">
    <%= link_to(image_tag(asset_path("nilenso.png")), "http://nilenso.com") %>
  </div>
</div>