host_name: "wikenso.dev"
secret_token: "somelongstringhere"
SENDGRID_USERNAME: "foo@example.com"
SENDGRID_PASSWORD: "foo123"
ACTION_MAILER_HOST: "wikenso.dev"
S3_BUCKET_NAME: bucket_name
S3_ACCESS_KEY: foobar
S3_SECRET_KEY: bazbar
INTERCOM_APP_ID: foo
INTERCOM_API_KEY: bar
INTERCOM_API_SECRET: baz
GOOGLE_ANALYTICS_ID: foo
NEW_RELIC_LICENSE_KEY: foo
NEW_RELIC_APP_NAME: bar
WEB_CONCURRENCY: 3 # Unicorn processes per heroku dyno
HEAP_ANALYTICS_TOKEN: 1234