<div class="wiki-pages-view-formatting">
  <a href="#" class="wiki-pages-view-formatting-bold">Bold</a>
  <a href="#" class="wiki-pages-view-formatting-italic">Italic</a>
  <a href="#" class="wiki-pages-view-formatting-link">Link</a>
</div>