.flash-error {
  text-align: center;
  min-width: 100%;
  background-color: #AC3232;
  padding: 6px 0;
  font-size: 16px;
  font-family: "ff-dagny-web-pro";
  color: #FFDFDF;
  p {
    margin: 0;
  }
}

.flash-notice {
  text-align: center;
  min-width: 100%;
  background-color: #FFFE95;
  padding: 4px 0;
  font-size: 16px;
  font-family: "ff-dagny-web-pro";
  p {
    margin: 0;
  }
}
