.wiki-header {
  margin-bottom: 0;
}

.wiki-header-logo {
  background-color: $topbar-bg;
  line-height: $topbar-height;
  img {
    max-height: 60px;
    max-width: 100px;
  }

}

.wiki-header-actions {
  height: $topbar-height;
  background-color: $topbar-bg;
  padding: 0 20px;

}

.wiki-header-actions {
  line-height: $topbar-height;
  font-size: 22px;
  background-color: #a3d648;
}

a.wiki-header-actions-single-action-link {
  background-color: transparent !important;
  padding: 0 10px !important;
  color: #6D9136;
  &:hover {
    color: #55751B;
  }
}

.style-wiki-header-actions-single-action-tooltip {
  .ot-content {
    font-family: ff-dagny-web-pro;
    font-size: 15px;
    color: white;
    text-shadow: none;
  }
}


input.wiki-header-search-input {
  margin-top: 15px;
  display: inline;
  font-family: "ff-dagny-web-pro";
  font-size: 17px;
  font-weight: 200;
  color: white;
  border: none;
  background: #699526;
  border-radius: 5px;
  &:focus {
    background: #699526;
  }
  @include placeholder {
    color: #CFE199;
  }
}

.wiki-header-signed-in {
  font-family: "jaf-bernino-sans-condensed";
  height: $topbar-height;
  line-height: $topbar-height;
  background-color: $topbar-bg;
  padding: 0 20px 0 20px;
  font-size: 17px;
  &:hover {
    background-color: #A3D35C;
    cursor: pointer;
  }
}

.wiki-header-signed-in-signed-in-as {
  font-weight: 300;
  color: #D5E9A5;
}

.wiki-header-signed-in-first-name {
  color: white;
  font-weight: 400;
}