#keyboard-shortcuts-modal {
  font-family: ff-dagny-web-pro;
}

.keyboard-shortcuts-modal-header {
  text-align: center;
  font-size: 30px;
}

.keyboard-shortcuts-modal-table {
  font-size: 20px;
  width: 100%;
}