.create-wiki {
  margin-top: 30px;
  font-family: "ff-dagny-web-pro";
}

.create-wiki fieldset {
  background-color: white;
  border-radius: 5px;
}

.create-wiki-legend {
  color: white;
  font-size: 22px;
  text-align: center;
  font-weight: 400;
  background-color: transparent;
  font-family: ff-dagny-web-pro;
}

.create-wiki-legend-emphasis {
  font-family: ff-dagny-web-pro;
  font-weight: 700;
}

.create-wiki-form-input {
  margin: 30px !important;
  font-size: 20px;
}

.create-wiki-form-submit-wrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin: 10px 0 20px 0;
}

.create-wiki-form-submit {
  @include big-green-button;
}