.pricing-page-plan {
  font-family: ff-dagny-web-pro;
  font-size: 16px;
  border: 1px solid #38681A;
  background-color: white;
  width: 23%;
  position: relative;
  margin-top: 30px;
  float: left;
  text-align: center;
  padding-bottom: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.pricing-page-plan.emphasis {
  width: 31%;
  margin-top: 0;
  padding-top: 26px;
  padding-bottom: 50px;
  background-color: #E6F7D7;
  .pricing-page-plan-name {
    font-size: 35px;
    font-weight: 700;
  }

  .pricing-page-plan-price {
    font-weight: 400;
  }
}

.pricing-page-plan-name {
  font-size: 30px;
  font-family: ff-dagny-web-pro;
  font-weight: 400;
  margin-top: 20px;
}

.pricing-page-plan-price {
  color: #38681A;
  font-size: 30px;
  font-weight: 100;
  margin-top: 20px;
}

.pricing-page-plan-users {
  margin: 20px 20px 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.pricing-page-plan-pages {
  margin: 10px 0 30px 0;
}

.pricing-page-plan-sign-up-button {
  @include button(emCalc(10px), #32B420, 3px, false, false, false);
  color: white;
  font-family: ff-dagny-web-pro;
  font-size: 30px;
  font-weight: 100;
  padding: 20px 25px;
  margin-bottom: 10px;
}

.pricing-page-plan-recommended {
  margin-top: 30px;
  font-size: 22px;
}

.pricing-page-free-trial {
  font-family: ff-dagny-web-pro;
  font-size: 40px;
  color: white;
  text-align: center;
}
