$page-title-font: "ff-dagny-web-pro";
$page-title-margin-top: 35px;

.wiki-pages-view-index {
  border-right: 2px solid rgba(127, 198, 51, 0.7);
  margin-top: $page-title-margin-top;
}

.wiki-pages-view-index-list {
  height: 100%;
  margin-right: 20px;
  list-style-type: none;
  letter-spacing: -1px;
  text-align: right;
}

.wiki-pages-view-index-list-item {
  margin-top: 15px;
  font-family: $page-title-font;
  font-size: 25px;
  font-weight: 300;
  a { color: #888; }
  &.active {
    font-size: 29px;
    font-weight: 400;
    a { color: #333; }
  }
}

.wiki-pages-view-single {
  margin-top: 20px;
  padding-left: 50px;
}

.wiki-pages-view-single-title-prefix {
  font-family: ff-tisa-web-pro;
  font-size: 22px;
  margin-bottom: 10px;
  color: #ccc;
  font-style: oblique;
}

.wiki-pages-view-single-title {
  font-family: $page-title-font;
  font-weight: 700;
  font-size: 60px;
  outline: 0 solid transparent;
  &:focus { outline: 0 solid transparent; }
  &.placeholder { color: #BBB; }
}

.wiki-pages-view-single-text {
  font-family: "ff-tisa-web-pro";
  margin-top: 15px;
  line-height: 30px;
  font-size: 17px;
  outline: 0 solid transparent;
  &:focus { outline: 0 solid transparent; }
}

@mixin page-action-button {
  font-family: ff-dagny-web-pro;
  font-size: 17px;
  color: #578522;
  padding: 5px 10px;
  @include transition(0.25s);
  &:hover {
    background-color: rgba(166,255,66, 0.15);
  }
}

.wiki-pages-view-single-actions {
  margin-bottom: 10px;
}

.wiki-pages-view-single-actions-edit {
  a { @include page-action-button; }
  float: right;
}

.wiki-pages-view-single-actions-back {
  a { @include page-action-button; }
  float: right;
}

.saving-indicator {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-family: 'jaf-bernino-sans-condensed';
  font-size: 22px;
  font-weight: 600;
  color: #8A8A8A;
}

.help-text {
  text-align: center;
  min-width: 100%;
  background-color: #FFFE95;
  padding: 4px 0;
  font-size: 16px;
  font-family: "ff-dagny-web-pro";
  p { margin: 0; }
}

.error-text {
  display: none;
  text-align: center;
  min-width: 100%;
  background-color: #AC3232;
  padding: 6px 0;
  font-size: 16px;
  font-family: "ff-dagny-web-pro";
  color: #FFDFDF;
  p { margin: 0; }
}