.wiki-users-header {
  margin-top: 15px;
  padding: 0;
}

.wiki-users-header-wiki-name {
  font-family: 'ff-dagny-web-pro';
  font-weight: 700;
  font-size: 40px;
  display: inline;
}

.wiki-users-header-wiki-users {
  font-family: 'ff-dagny-web-pro';
  font-weight: 300;
  font-size: 40px;
  margin-left: 10px;
  display: inline;
}

.wiki-users-table {
  margin-top: 20px;
  width: 100%;
}
