.wiki-settings {
  margin-top: 25px;
}

.wiki-settings-heading {
  font-family: ff-dagny-web-pro;
  font-weight: 300;
  font-size: 40px;
}

.wiki-settings-heading-emphasis {
  font-weight: 700;
}

.wiki-settings-body {
  margin-top: 20px;
}

.wiki-settings-setting-name {
  line-height: 33px;
}