<div id="add-link-modal">
  <input type="text" class="add-link-modal-input" />
  <a href="javascript:void(0);" class="add-link-modal-done">Add Link</a>
  <a href="javascript:void(0);" class="add-link-modal-cancel">Cancel</a>
</div>