<div class="help-text"></div>

<div class="wiki-pages-view-single" data-id=5>
  <div class="wiki-pages-view-single-title" contenteditable="true">
    <p>Foo</p>
  </div>

  <div class="wiki-pages-view-single-text" contenteditable="true">
    <p>Foo</p>
  </div>
</div>

<div class="saving-indicator"></div>
<div class="error-text"></div>