<nav class="wiki-header top-bar">
  <ul class="title-area">
    <li class="name">
      <div class="wiki-header-logo">
        <%= image_tag "placeholder_logo.png" %>
      </div>
    </li>
  </ul>


  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>

      <li class="wiki-header-search search has-form">
        <form>
        <div class="row collapse">
          <div class="small-2 columns">
            <i class="foundicon-search wiki-header-search-icon"></i>
          </div>

          <div class="small-10 columns">
            <input type="text" class="wiki-header-search-input"/>
          </div>
        </div>
        </form>
      </li>

      <li class="divider"></li>

      <li class="wiki-header-signed-in">
        <span class="wiki-header-signed-in-signed-in-as">
          Signed in as
        </span>
        <span class="wiki-header-signed-in-first-name">
          timothyandrew
        </span>
      </li>

    </ul>

  </section>

</nav>