<header class="wiki-header row">
  <div class="large-4 columns wiki-header-logo">
    <%= image_tag "placeholder_logo.png" %>
  </div>

  <div class="large-4 columns wiki-header-search">
    <input type="text"/>
  </div>


  <div class="large-2 columns wiki-header-signed-in tk-jaf-bernino-sans-condensed">
    <span class="wiki-header-signed-in-signed-in-as">
      Signed in as
    </span>
    <span class="wiki-header-signed-in-first-name">
      timothyandrew
    </span>
  </div>

</header>